@model Website.Model.Entities.Stock
@{
    ViewData["Title"] = "Trading View";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string exchange = string.IsNullOrWhiteSpace(Model.Exchange) ? "HOSE" : Model.Exchange;
    string symbol = $"{exchange}:{Model.StockName}";
}

<link rel="stylesheet" href="~/css/stockdetail.css" asp-append-version="true" />
<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>

<div class="stock-detail">
    <div class="chart">
        <div id="tradingview_chart"></div>
    </div>
</div>

<!-- TradingView Widget BEGIN -->
<script type="text/javascript">
    new TradingView.widget({
        autosize: true,
        symbol: "HOSE:ACB",
        interval: "D",
        timezone: "Etc/UTC",
        theme: "dark",
        style: "1",
        locale: "vi_VN",
        container_id: "tradingview_chart",
        allow_symbol_change: true,
        support_host: "https://www.tradingview.com"
    });
</script>
<!-- TradingView Widget END -->
