@model Website.Model.Entities.Event
@{
    ViewData["Title"] = "Tạo sự kiện mới";
}

<head>
    <link rel="stylesheet" href="~/css/eventcreate.css" asp-append-version="true" />
</head>
<h2 class="event-create-title">Tạo sự kiện mới</h2>

<form asp-action="Create" method="post" class="event-create-form">
    <div class="form-group">
        <label class="form-label">Tên sự kiện</label>
        <input asp-for="EventName" class="form-input" />
        <span asp-validation-for="EventName" class="form-error-message"></span>
    </div>
    <div class="form-group">
        <label class="form-label">Mô tả</label>
        <textarea asp-for="Description" class="form-input"></textarea>
        <span asp-validation-for="Description" class="form-error-message"></span>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn-submit">Lưu</button>
        <a asp-action="Index" class="btn-cancel">Quay lại</a>
    </div>
</form>
